<%= form_with(model: product1, local: true) do |form| %>
  <% if product1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product1.errors.count, "error") %> prohibited this product1 from being saved:</h2>

      <ul>
        <% product1.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
